<section class="container">

    <h1>Welcome {{name}}</h1>
    view todos <a routerLink="/todos">here</a>
    <section>



        <section class="container">
            <h2>Click here to get a welcome message</h2>
            <div>
                <button class="btn btn-success" (click)="getWelcomeMessage()">Get Welcome Message</button>
            </div>

        </section>

        <section *ngIf="welcomeMessage" class="container">
            <h3>{{welcomeMessage}} </h3>

        </section>
    </section>
</section>