<section class="container">
    <form action="">
        <fieldset class="form-group">
            <label for="description">Description</label>

            <input class="form-control" (change)="changeFn($event)" [(ngModel)]="todo.description" type="text"
                name="description" required>
        </fieldset>
        <fieldset class="form-group">
            <label for="tagetDate">Target Date</label>
            <input class="form-control" [ngModel]="todo.targetDate | date:'yyyy-MM-dd':'UTC' "
                (ngModelChange)="todo.targetDate=$event" type="date" name="targetDate" required>

        </fieldset>
        <section class="container p-3 ">

            <button class="btn btn-success" (click)="saveTodo()">Save</button>
        </section>
    </form>
    <section>
        <span>
            {{todo.id}}
            {{todo.username}}
            {{todo.description}}
            {{todo.done}}
            {{todo.targetDate | date}}
        </span>
    </section>

</section>