<section class="container">
    <form action="">
        <fieldset class="form-group">
            <label for="description">Description</label>

            <input class="form-control" type="text" name="description" required>
        </fieldset>
        <fieldset class="form-group">
            <label for="tagetDate">Target Date</label>
            <input class="form-control" type="date" name="targetDate" required>

        </fieldset>
        <section class="container p-3 ">

            <button class="btn btn-success" (click)="saveTodo()">Save</button>
        </section>
    </form>

</section>